* {
    background-color: black;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag img {
    max-width: 90%;
    height: auto;
}

.cuerpo {
    display: flex;
    flex-direction: column;
}

.letras img {
    max-width: 100%;
    height: auto;
    text-align: center;
    background-repeat: no-repeat;
}