*{
    font-family: 'VT323', monospace;
}
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagenTitulo{
    max-width: 100%;
    height: auto;
}
.TextoTitulo{
   
    font-weight: bold;
    font-size: xxx-large;

}
.instrucciones{
    font-weight: bold;
    font-size: xxx-large;

}
.flag img {
    max-width: 100%;
    height: auto;
}
.imagen{
    width: 100%;
height: auto;
} 
.imagenRaton{
    width: 80%;
height: auto;
}

.letras img {
    max-width: 125%;
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    height: auto;
    text-align: center;
    background-repeat: no-repeat;
}

canvas {
    border: solid;
}

.list-group-item{
    font-size:x-large;
}
.boton{
    font-size:xxx-large;
}
/*canvas {
    position: relative;
    top: -10rem;
    border: solid;
}*/