.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag img {
    max-width: 100%;
    height: auto;
}

.letras img {
    max-width: 125%;
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    height: auto;
    text-align: center;
    background-repeat: no-repeat;
}

canvas {
    border: solid;
}

/*canvas {
    position: relative;
    top: -10rem;
    border: solid;
}*/